*{
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 234, 238);
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5rem;
}


.to{
    font-size: 0.8rem;
    padding-bottom: 30px;
}
.card{
    height: 500px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
    padding: 0 30px 0 30px;
    
}

.loginbox{
    display: flex;
    flex-direction: column;
}

.row{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

input{
    border: 1px solid rgb(206, 206, 206);
    border-radius: 3px;
    padding: 10px 30px 10px 10px;
}

.forget-q{
    color: rgb(35, 167, 191);
    display: inline-block;
    align-self: center;
}

.next{
    color: white;
    background-color: rgb(35, 157, 179);
    border-radius: 3px;
    padding: 10px 30px 10px 20px;
    align-self: center;
    display: inline-block;
}

hr{margin-top: 20px;
}

.method{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8rem;
    color: rgb(193, 193, 193);
    display: block;
    align-self: center;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.facebook-btn,.google-btn{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    width: 120px;
    margin-bottom: 20px;
    
    
}

.google-img{
    display: inline-block;
    width: 23px;
    height: 23px;
}
.facebook-img{
    display: inline-block;
    width: 35px;
    height: 35px;
}

.signin-q{
    font-size: 0.8rem;
}
.signin{
    color: rgb(59, 160, 194);
    text-decoration: underline;
}

.water{
    height: 500px;
    width: 250px;
    border-radius: 0 8px 8px 0;

}

